
.myButtons button{
    background-color: purple;
    color: white;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 5px 20px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 5px 8px black;
}
.myButtons button:hover{
    background-color: rgb(94, 0, 94);
    color: rgb(235, 233, 233);

}